img{
    width:500px;
   
}

.contain{
    margin-top:20px;
    position:relative;
    
}

.num2{
     width:50px;
     font-size:30px;
    position:fixed;
    top:0;
    Left:40px;
    color: rgb(42, 223, 18);
    bottom:50px; 
     background-color: tomato; 
 } 

.item2{
    background-color: tomato;
    position:absolute;
    top:20;
    padding-left:200px ;
    border:1px solid black;
    z-index:-17;
    margin-left:50px;
}

.item1{
    position:relative;
    z-index:2;
}

.div::before{
    content:' ';
    display:flex;
    background-color: coral;
    z-index:5;
     flex-direction:column;
}



.div::after{
    content:' ';
    background-color: blue;
    border:1px solid black;
    flex-direction:column;

}








.position{
    position:relative;
    margin-top:10px;
    } 

.text{
    font-size: 20px;
    justify-items: center;
    
    /* border:1px solid black; */
    position:absolute;
    top:50px;
    left: 30px;
    right: 50px;
    
}

.we{
     position:absolute;
    top:250px;
    left:50px;
    right:70px;
    justify-items: center;
}

.text1{
    font-size: 50px;
    color:white;
    position:absolute;
    top:100px;
    left:480px;
    right:0px;
    justify-self: center;
}

.text2{
    font-size: 25px;
    position: absolute;
    top:80px;
    left:1000px;
}

.caption{
    font-size: 50px;
    color: white;
    position: absolute;
    top:450px;
    left:800px;
}

.button{
    font-size: 15px;
    width:250px;
    height: 70px;
    position: absolute;
    top:450px;
    left:30px;
    border-radius: 10%;
   background-color: white;
   }


img{
    width:70px;
    position: absolute;
    top:190px;
    left: 1320px;
    background-color:rgb(74, 76, 231);
    box-shadow: rgb(39, 33, 33);
    }

    

.contain1{
    display:grid;
    height:100vh;
    /* width: 100vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   
}
.position0{
    background-color:white;
   
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
}

.position1{
    background-color:rgb(226, 155, 63);
    padding: 10px; 
    grid-column: 1/2;
    grid-row: 2/4;
    margin: 10px;
    border-radius: 5%;
    
}
.position2{
    background-color:rgb(15, 189, 131);
    grid-column: 2/4;
     grid-row: 1/3;
     margin:10px;
     border-radius:5%;
}
.position3{
    background-color:rgb(169, 62, 219);
    grid-column: 4/5;
     grid-row: 2/3;
     margin:10px;
     border-radius: 5%;

   }
.position4{
    background-color:rgb(74, 76, 231);
    grid-column: 5/6;
     grid-row: 2/3;
     margin:10px;
     border-radius: 5%;
}
.position5{
    background-color:rgb(204, 13, 163);
    grid-column: 2/3;
     grid-row: 3/6;
     margin:10px;
     border-radius: 5%;
}
.position6{
    background-color:white;
    grid-column: 4/6;
    grid-row: 1/2;
    margin-top:50px;
    margin-left:20px;
    

}
.position7{
    background-color:rgb(106, 9, 145);
    grid-column: 3/5;
    grid-row: 3/8;
    margin:10px;
    border-radius: 5%;

}
.position8{
    background-color:rgb(224, 89, 89);
    grid-column: 5/6;
    grid-row: 3/5;
    margin:10px;
    border-radius: 5%;

}
