.grid-item{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 10%;
    height:100vh;
}


.grid-item1 {
    border:1px ;
    padding: 10px;
    /* height: 200px;
    width: 300px; */
    margin:3px;
    grid-column: 1/3;
    grid-row:1/3 ;
    background-color: violet;

}

.grid-item2 {
    border:1px ;
    padding: 10px;
    background-color: rgb(26, 184, 26);
    /* height: 400px;
    width: 100px; */
    grid-column: 3;
    grid-row: 1/5;
    margin:3px;

}

.grid-item3 {
    border:1px ;
    background-color: rgba(8, 137, 243, 0.425);
    padding: 10px;
    /* height: 100px;
    width: 300px; */
    grid-column: 4;
    margin:3px;
}

.grid-item4 {
    border:1px ;
    padding: 10px;
    /* height: 100px;
    width: 500px; */
    grid-column: 5/end ;
    background-color: rgb(26, 184, 26);
    margin:3px;

}
.grid-item5 {
    border:1px ;
    padding: 10px;
    background-color: rgb(26, 184, 26);
    grid-column: 1;
    grid-row: 3/6;
    margin:3px;

}

.grid-item6 {
    border:1px ;
    padding: 10px;
    background-color: rgba(8, 137, 243, 0.425);
    grid-column:2;
    grid-row: 3;
    margin:3px;
}
.grid-item7 {
    border:1px ;
    padding: 10px;
    background-color: red;
    grid-column:2;
    grid-row: 4/6;
    margin:3px;
}

.grid-item8 {
    border:1px;
    padding: 10px;
    background-color: red;
    grid-column: 4;
    grid-row: 2/5;
    margin:3px;
}

.grid-item9 {
    border:1px ;
    padding: 10px;
    background-color: rgba(8, 137, 243, 0.425);
    grid-column: 5;
    grid-row: 2;
    margin:3px;

}

.grid-item10 {
    border:1px ;
    padding: 10px;
    background-color: red;
    grid-column: 6/end;
    grid-row: 2;
    margin:3px;

}

.grid-item11 {
    border:1px ;;
    padding: 10px;
    background-color: rgb(26, 184, 26);
    grid-column: 1/3;
    grid-row: 6/end;
    margin:3px;
}

.grid-item12 {
    border:1px ;
    padding: 10px;
    background-color: violet;
    grid-column: 3/5;
    grid-row: 5/end;
    margin:3px;
    

}

.grid-item13 {
    border:1px ;
    padding: 10px;
    background-color: violet;
    grid-column: 5/end;
    grid-row: 3/8;
    margin:3px;
}

.grid-item14 {
    border:1px ;
    padding: 10px;
    background-color: rgba(8, 137, 243, 0.425);
    grid-column: 5/end;
    grid-row: 8/end;
    margin:3px;
}
    
